# ignore environment files
.venv/
.flaskenv

# ignore python cache files
__pycache__/
resources/__pycache__/

# ignore the sqlite database
instance/

# ignore other personal helper files
endpoints.txt
