# ignore environment files
.venv/
.flaskenv
ecotrack_env

# ignore python cache files
__pycache__/
resources/__pycache__/
migrations/__pycache__/
migrations/versions/__pycache__/

# ignore the sqlite database
instance/

# ignore other personal helper files
endpoints.txt
